Media Add

<form action="/user/media/add" method="POST">
    <textarea name="post" cols="30" rows="10"></textarea>
    <input type="date" name="createdAt">
    <input type="radio" name="private" value="1">
    <input type="radio" name="private" value="0">
    <input type="submit">
</form>