Register

<form action="/user/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="fullname" placeholder="Full name">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="cfpassword" placeholder="Confirm password">
    <input type="submit">
</form>